<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="static\img\favicon.png" type="favicon/png">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>LanguaHouse</title>
  </head>
  <body class="bg-gray-100 text-gray-800">

    <!-- Cabeçalho -->
    <nav class="bg-purple-700 p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-2xl font-semibold" href="{{ url_for('index') }}">LanguaHouse</a>
         
      </div>
    </nav>


     <!-- Formulário de Cadastro -->
     <div class="max-w-2xl mx-auto mt-12 p-8 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Atualizar Grupo</h1>
       
        <form method="POST">
    
            <!-- Nome do Grupo-->
            <div class="mb-4">
                <label for="nome_grupo" class="block text-lg font-medium text-gray-700">Renomear Grupo</label>
                <input type="text" name="nome_grupo" id="nome_grupo" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500" required placeholder="Digite o nome do grupo">
            </div>

            <!-- Linguagem --> 
            <div class="mb-4">
                <label for="linguagem" class="block text-lg font-medium text-gray-700">Linguagem</label>
                <select name="linguagem" id="linguagem" 
                required class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500">
                    <option value="">Selecione um linguagem</option>
                    <option value="ingles">Inglês</option>
                    <option value="espanhol">Espanhol</option>
                </select>
            </div>

            <!-- Descrição -->
            <div class="mb-4">
                <label for="descricao" class="block text-lg font-medium text-gray-700">Descrição</label>
                <input type="text" name="descricao" id="descricao" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500" required placeholder="">
            </div>

            <!-- Botão de Enviar -->
            <button type="submit" class="w-full py-3 bg-purple-600 text-white font-semibold rounded-md hover:bg-purple-700 transition duration-300">Atualizar</button>
        </form>

        <!-- Link para voltar -->
        <div class="mt-6 text-center">
            <a href="{{ url_for('todos_grupos', id = usuario['cod_usuario']) }}" class="text-purple-600 hover:text-purple-800 transition duration-300">Voltar</a>
        </div>

        <br><br><br>
           <!-- Mensagem de sucesso ou falha ao cadastrar -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="space-y-4"> <!-- Espaçamento entre as mensagens -->
            {% for category, message in messages %}
            <div 
                class="px-4 py-3 rounded-md text-white 
                    {{ 'bg-green-500' if category == 'success' else 'bg-red-500' }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>