<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="static\img\favicon.png" type="favicon/png">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>LanguaHouse</title>
    </head>
    
  <body class="bg-gray-100 text-gray-800">

    <!-- Cabeçalho -->
    <nav class="bg-purple-700 p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-lg font-semibold" href="{{ url_for('index') }}">LanguaHouse</a>
      </div>
    </nav>

     <!-- Formulário de Cadastro -->
     <div class="max-w-2xl mx-auto mt-12 p-8 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Idioma</h1>
       
        <form method="POST"> 
        
            <!-- Linguagem --> 
            <div class="mb-4">
                <label for="linguagem" class="block text-lg font-medium text-gray-700">Linguagem</label>
                <select name="linguagem" id="linguagem" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500">
                    <option value="ingles" {% if idioma.linguagem == "ingles" %}selected{% endif %}>Inglês</option>
                    <option value="espanhol" {% if idioma.linguagem == "espanhol" %}selected{% endif %}>Espanhol</option>
                </select>
            </div>
        
            <!-- Nivel -->
            <div class="mb-4">
                <label for="nivel" class="block text-lg font-medium text-gray-700">Nivel</label>
                <select name="nivel" id="nivel" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500">
                    <option value="basico" {% if idioma.nivel == "basico" %}selected{% endif %}>Básico</option>
                    <option value="intermediario" {% if idioma.nivel == "intermediario" %}selected{% endif %}>Intermediário</option>
                    <option value="avancado" {% if idioma.nivel == "avancado" %}selected{% endif %}>Avançado</option>
                </select>
            </div>
        
            <!-- Categoria -->
            <div class="mb-4">
                <label for="categoria" class="block text-lg font-medium text-gray-700">Categoria</label>
                <select name="categoria" id="categoria" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500">
                    <option value="aluno" {% if idioma.categoria == "aluno" %}selected{% endif %}>Aluno</option>
                    <option value="professor" {% if idioma.categoria == "professor" %}selected{% endif %}>Professor</option>
                </select>
            </div>
        
            <!-- Botão de Enviar -->
            <button type="submit" class="w-full py-3 bg-purple-600 text-white font-semibold rounded-md hover:bg-purple-700 transition duration-300">Atualizar Idioma</button>
        </form>
        
        <!-- Link para voltar -->
        <div class="mt-6 text-center">
            <a href="{{ url_for('perfil') }}" class="text-purple-600 hover:text-purple-800 transition duration-300">Voltar</a>
        </div>

        <br><br><br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="mb-4">
            {% for category, message in messages %}
            <div 
                class="px-4 py-3 rounded-md text-white 
                    {{ 'bg-green-500' if category == 'success' else 'bg-red-500' }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>