/* Geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h3, h2 {
  color: #333;
}

/* Cabeçalho */
.navbar {
  background-color: #6a5acd;
  padding: 20px;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .btn {
  font-weight: bold;
  text-transform: uppercase;
}

/* Banner Principal */
.banner {
  background-color: #6a5acd;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner .btn {
  font-weight: bold;
}

/* Seções */
section {
  padding: 50px 0;
}

section.bg-light {
  background-color: #f9f9f9;
}

/* Rodapé */
footer {
  background-color: #6a5acd;
}

footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul a {
  color: #ffcc00;
  text-decoration: none;
}

footer ul a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }

  .banner h1 {
    font-size: 2rem;
  }
  
  .banner .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer {
    padding: 30px 20px;
  }
}
