<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="static\img\favicon.png" type="favicon/png">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>LanguaHouse</title>
    
  </head>

  <body class="bg-gray-100 text-gray-800">

    <!-- Cabeçalho -->
    <nav class="bg-purple-700 p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-2xl font-semibold" href="{{ url_for('index') }}">LanguaHouse</a>
        <div class="flex space-x-4">
          <a class="btn btn-outline-light text-white py-2 px-4 rounded-md hover:bg-white hover:text-purple-600 transition" href="{{ url_for('login') }}">Entrar</a>
          <a class="bg-yellow-600 text-dark py-2 px-4 rounded-md hover:bg-yellow-400 transition" href="{{ url_for('create') }}">Cadastrar</a>
        </div>
      </div>
    </nav>

    <!-- Banner Principal -->
    <section class="bg-purple-600 py-20 text-center text-white">
      <div class="container mx-auto flex justify-center items-center flex-col md:flex-row">
        <div class="md:w-1/2 px-4">
          <h1 class="text-6xl font-bold mb-8">Aprenda idiomas de forma gratuita, segura e colaborativa</h1> <!-- Maior espaçamento aqui -->
          <div class="mt-6"> <!-- Aumentando o espaço entre o texto e os botões -->
            <a class="bg-yellow-500 text-dark py-3 px-6 rounded-md hover:bg-yellow-400 transition" href="{{ url_for('create') }}">Comece Agora</a>
            <a class="bg-transparent border-2 border-white text-white py-3 px-6 rounded-md hover:bg-white hover:text-purple-600 transition ml-4" href="{{ url_for('login') }}">Já Tenho Conta</a>
          </div>
        </div>
        <div class="md:w-1/2 mt-8 md:mt-0">
          <img src="/static/img/mascote.png" class="mx-auto md:ml-0 md:w-full">
        </div>
      </div>
    </section>

    <!-- Aprendizado Colaborativo -->
<section class="py-16 bg-gray-50 text-center fade-in">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-10">O que você vai encontrar no LanguaHouse</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Aprendizado Colaborativo -->
      <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition">
        <i class="fas fa-users fa-3x mb-4 text-purple-600"></i>
        <h3 class="text-xl font-semibold">Aprendizado Colaborativo e Interativo</h3>
        <p>No LanguaHouse, você aprende e ensina de forma colaborativa, conectando-se com outros estudantes e falantes nativos.</p>
      </div>

      <!-- Acessibilidade e Flexibilidade -->
      <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition">
        <i class="fas fa-clock fa-3x mb-4 text-purple-600"></i>
        <h3 class="text-xl font-semibold">Acessibilidade e Flexibilidade</h3>
        <p>Pratique idiomas quando e onde quiser, sem custos. O LanguaHouse oferece flexibilidade total para você aprender no seu ritmo.</p>
      </div>

      <!-- Conexões Globais e Diversidade Cultural -->
      <div class="p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition">
        <i class="fas fa-globe-americas fa-3x mb-4 text-purple-600"></i>
        <h3 class="text-xl font-semibold">Conexões e Diversidade Cultural</h3>
        <p>Conecte-se com estudantes de todo o mundo e compartilhe experiências culturais enquanto aprimora suas habilidades linguísticas.</p>
      </div>
    </div>
  </div>
</section>


    <!-- Seção de Idiomas -->
    <section class="py-10">
      <div class="container mx-auto text-center">
        <h2 class="text-2xl font-semibold mb-6">Escolha seu idioma</h2>
        <div class="flex flex-col md:flex-row gap-4 justify-center">
          <div class="w-full md:w-1/2">
            <a href="#" class="bg-purple-500 text-white text-lg py-3 px-6 rounded-md w-full block hover:bg-purple-600 transition">Inglês</a>
          </div>
          <div class="w-full md:w-1/2">
            <a href="#" class="bg-purple-500 text-white text-lg py-3 px-6 rounded-md w-full block hover:bg-purple-600 transition">Espanhol</a>
          </div>
        </div>
      </div>
    </section>


    <!-- Seção do Método LanguaHouse -->
    <section class="py-16 bg-gray-50">
      <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 md:pr-12 mb-8 md:mb-0">
          <h2 class="text-3xl font-semibold mb-4">O método do LanguaHouse</h2>
          <h3 class="text-lg text-gray-700">No LanguaHouse, o aprendizado de idiomas acontece de forma colaborativa. Você se conecta com pessoas que falam o idioma que deseja aprender e pode tanto ensinar quanto aprender de forma mútua. O método é totalmente flexível: você escolhe com quem praticar, em qual horário e no nível que melhor se adapta às suas necessidades. Tudo de forma virtual, segura e gratuita, sem sair de casa.</h3>
        </div>
        <div class="md:w-1/2">
          <img src="/static/img/método languahouse.png" class="mx-auto w-2/4 md:w-2/3">
        </div>
      </div>
    </section>

    <!-- Seção do Carrossel -->
    <section class="py-5 bg-gray-50">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-10">O que nossos usuários dizem</h2>

        <!-- Carrossel -->
        <div class="relative">
          <!-- Slides -->
          <div id="carousel" class="overflow-hidden">
            <div class="flex transition-transform duration-500 ease-in-out" id="carouselSlides">
              <!-- Slide 1 -->
              <div class="w-full flex-shrink-0 px-4">
                <div class="p-8 bg-white shadow-lg rounded-lg">
                  <p class="text-lg text-gray-700 mb-4">"O LanguaHouse mudou minha forma de aprender idiomas! Conectar com nativos foi a chave para meu sucesso."</p>
                  <h3 class="font-semibold text-gray-800">João Silva</h3>
                  <p class="text-gray-500">Estudante de Inglês</p>
                </div>
              </div>

              <!-- Slide 2 -->
              <div class="w-full flex-shrink-0 px-4">
                <div class="p-8 bg-white shadow-lg rounded-lg">
                  <p class="text-lg text-gray-700 mb-4">"A flexibilidade do LanguaHouse me ajudou a aprender no meu próprio ritmo. É uma plataforma incrível e acessível para todos e de graça ainda!"</p>
                  <h3 class="font-semibold text-gray-800">Maria Oliveira</h3>
                  <p class="text-gray-500">Estudante de Espanhol</p>
                </div>
              </div>

              <!-- Slide 3 -->
              <div class="w-full flex-shrink-0 px-4">
                <div class="p-8 bg-white shadow-lg rounded-lg">
                  <p class="text-lg text-gray-700 mb-4">"Eu adoro praticar idiomas com outros estudantes e falantes nativos. O LanguaHouse é uma ótima comunidade!"</p>
                  <h3 class="font-semibold text-gray-800">Carlos Almeida</h3>
                  <p class="text-gray-500">Estudante de Inglês</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Controles -->
          <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-purple-700 text-white py-2 px-4 rounded-full hover:bg-purple-600 transition">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-purple-700 text-white py-2 px-4 rounded-full hover:bg-purple-600 transition">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </section>


      <!-- Pratique Inglês ou Espanhol em Grupos -->
      <section class="py-13 bg-gray-50">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 mb-8 md:mb-0">
        <img src="/static/img/praticando em grupos1.png" class="mx-auto w-4/4 md:w-4/4">
      </div>
      <div class="md:w-1/2 md:pl-12">
        <h2 class="text-3xl font-semibold mb-4">Pratique inglês ou espanhol em grupos</h2>
        <h3 class="text-lg text-gray-700 mb-8">Você pode aprender e praticar inglês e espanhol em grupos de estudo. Conecte-se com falantes nativos e outros estudantes, troque conhecimentos e pratique no seu ritmo, sem custos. Participe de conversas ao vivo, aprenda com diferentes níveis e culturas, e melhore suas habilidades linguísticas de maneira divertida e flexível!</h3>
      </div>
    </div>
  </section>

    <!-- Seção Final -->
    <section class="py-16 text-center bg-gray-50">
      <div class="container mx-auto">
        <a class="bg-yellow-500 text-dark py-3 px-6 rounded-md hover:bg-yellow-400 transition" href="{{ url_for('create') }}">Comece Agora</a>
      </div>
    </section>

    <!-- Rodapé -->
    <footer class="bg-purple-600 text-white py-12">
      <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
          <h5 class="font-semibold text-lg">Contato</h5>
          <ul>
            <li><strong>Telefone:</strong> (19) 90000-0000</li>
            <li><strong>Email:</strong> languahouse@dominio.com</li>
          </ul>
        </div>
        <div>
          <h5 class="font-semibold text-lg">Políticas</h5>
          <ul>
            <li><a href="#" class="text-yellow-500 hover:underline">Política de Privacidade</a></li>
            <li><a href="#" class="text-yellow-500 hover:underline">Termos de Uso</a></li>
          </ul>
        </div>
        <div>
          <h5 class="font-semibold text-lg">Recursos</h5>
          <ul>
            <li><a href="#" class="text-yellow-500 hover:underline">Dicas de Estudo</a></li>
            <li><a href="#" class="text-yellow-500 hover:underline">Eventos</a></li>
            <li><a href="#" class="text-yellow-500 hover:underline">Central de Ajuda</a></li>
          </ul>
        </div>
      </div>
      <div class="bg-purple-600 text-white text-center py-12">
        <p class="text-sm">© Copyright 2024. All Rights Reserved</p>
    </div>
    </footer>



  <script>
    // Seleciona os elementos do carrossel e os botões
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    const carouselSlides = document.getElementById("carouselSlides");
    let currentIndex = 0;
    const totalSlides = carouselSlides.children.length;

    // Função para mover para o slide anterior
    function moveToPrevSlide() {
      if (currentIndex === 0) {
        currentIndex = totalSlides - 1; // Voltar para o último slide
      } else {
        currentIndex--;
      }
      updateCarouselPosition();
    }

    // Função para mover para o próximo slide
    function moveToNextSlide() {
      if (currentIndex === totalSlides - 1) {
        currentIndex = 0; // Voltar para o primeiro slide
      } else {
        currentIndex++;
      }
      updateCarouselPosition();
    }

    // Função para atualizar a posição do carrossel
    function updateCarouselPosition() {
      const slideWidth = carouselSlides.children[0].offsetWidth;
      carouselSlides.style.transform = `translateX(-${slideWidth * currentIndex}px)`;
    }

    // Adiciona os event listeners aos botões
    prevButton.addEventListener("click", moveToPrevSlide);
    nextButton.addEventListener("click", moveToNextSlide);

    // Ajuste inicial para garantir que a posição do carrossel esteja certa
    window.addEventListener("resize", updateCarouselPosition);

    // Inicializa a posição do carrossel
    updateCarouselPosition();
  </script>

  </body>
</html>