<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Inicio</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">LanguaHouse</a>
            <a class="navbar-brand" href="#"> Login</a>
          </div>
        </nav>
    </div>
    <main>
        <div class="container primeira_linha">
            <div class="row">
              <div class="col offset-md-2">
                <img src="/static/img/gato.png" class="img-thumbnail img_gato" alt="...">
              </div>
              <div class="col coluna2">
                <h3> O jeito grátis, divertido e eficaz de aprender um idioma! </h3>
                <button type="button" class="btn  btn-lg">Comece agora</button> <br>
                <button type="button" class="btn btn-lg">Já tenho uma conta</button>
              </div>
        </div>

        <div class="container segunda_linha">
            <div class="row  ">
                <div class="col-md-3 offset-md-3 ">
                    <button type="button" class="btn btn-lg">Inglês</button> <br>
                </div>

                <div class="col align-self-end">
                    <button type="button" class="btn  btn-lg">Espanhol</button> <br>
                </div>
            </div>
        </div>
        
        <div class="container terceira_linha">
            <div class="row">
                <div class="col align-self-center">
                    <h3>Aqui aprendemos juntos</h3>
                </div>

                <div class="col">
                    <img src="/static/img/maos.png" alt="">
                </div>
            </div>
        </div>

        <div class="container quarta_linha">
            <div class="row">
                <div class="col offset-md-2">
                    <img src="/static/img/mundo.png" alt="">
                </div>

                <div class="col">
                    <h3>Reuna-se com pessoas que querem aprender </h3>
                </div>
            </div>
        </div>

        <div class="container terceira_linha">
            <div class="row">
                <div class="col align-self-center">
                    <h3>Aqui aprendemos juntos</h3>
                </div>

                <div class="col">
                    <img src="/static/img/maos.png" alt="">
                </div>
            </div>
        </div>

        <div class="container quarta_linha">
            <div class="row">
                <div class="col offset-md-2">
                    <img src="/static/img/mundo.png" alt="">
                </div>

                <div class="col">
                    <h3>Reuna-se com pessoas que querem aprender </h3>
                </div>
            </div>
        </div>

        <div class="container terceira_linha">
            <div class="row">
                <div class="col align-self-center">
                    <h3>Aprenda ensinando</h3>
                </div>

                <div class="col">
                    <img src="/static/img/maos.png" alt="">
                </div>
            </div>
        </div>

        <div class="container quarta_linha">
            <div class="row">
                <div class="col offset-md-2">
                    <img src="/static/img/mundo.png" alt="">
                </div>

                <div class="col">
                    <h3>Ensine </h3>
                </div>
            </div>
        </div>

        <div class="container terceira_linha">
            <div class="row">
                <div class="col align-self-center">
                    <h3>Aqui, aprendemos juntos</h3>
                </div>

                <div class="col">
                    <img src="/static/img/maos.png" alt="">
                </div>
            </div>
        </div>

        <div class="container quinta_linha">
            <div class="row">
              <div class="col align-self-start">
                One of three columns
              </div>
              <div class="col  ">
                One of three columns
              </div>
              <div class="col align-self-end">
                One of three columns
              </div>
            </div>
          </div>
    </main>
    


    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>